# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Mediasummon config json files
mediasummon.config.json

# Dotenv
.env

# Also exclude admin development chunks
admin/out/_next/static/development/*
admin/out/_next/static/webpack/static/development/*